.listProduct{
    display: grid; 
    grid-template-columns: repeat(3,1fr);
justify-content: center;
gap: 1%;
text-decoration: none;
}
ul li{
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    
}