.home{
    direction: rtl;
    text-align:center;
    background-color: #F0F2DA;
}
.about{
    display: flex;
}

.button{
    font-size: large;
    padding: 1%;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius:40%;
}

.four-pic{
    margin: 1% 0%;
    padding:  2%;
    background-color: rgb(207, 252, 94);
}
.four-pic div{
    flex: 1;
}
.four-pic div img{
    width: 80%;
     border-radius: 50%;
   border: 1px solid black;
}


  .color-image {
    width: 300px;
    transition: opacity 0.5s ;
    opacity: 0.8;
  }
  @keyframes grow {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .auto-grow-image {
    animation: grow 3s infinite;
  }
  .color-image:hover {
    opacity: 1;
  }
.header-image{
  background-Color:'black';
}